@import "_vars";
@import "_mixins";

.sobre {
  font-size: $fs-l;
}

.subtitulo {
  font-size: $fs-m;
  color: $gris;
}

.nuestro {
  font-size: $fs-l;
}

.equipo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: $fs-m;
}

.miembro {
  @include center-column;
  font-size: $fs-m;

  &__foto {
    height: 180px;
    margin-right: 5px;
    border-radius: 50%;
  }
}

.logo {
  width: 45px;
  height: 45px;
}
