@import "_vars";
@import "_mixins";

.texto-azul {
  color: $azul;
  font-size: $fs-m;
}

.ahorro {
  font-size: $fs-m;
  color: $gris;
}

.gasto {
  flex-basis: 30%;
  @include center-column;

  & .gasto__foto {
    height: 60px;
  }
}

.logo {
  width: 45px;
  height: 45px;
}
