// Colores
$background-header: rgb(255, 255, 255);
$background-footer: rgb(217, 217, 217);
$background-body: rgb(255, 250, 250);
$azul: rgb(28, 95, 220);
$gris: rgb(128, 128, 128);
$negro: rgb(0, 0, 0);

// Distancias
$padding-content: 10px 25px;
$gap-size: 16px;

// Tamaños
$footer-height: 74px;

// Fuentes
$fs-m: medium;
$fs-l: x-large;
